.rally-card-panelNextTime {
    background-color: #f3b936;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 5rem;
}

.rally-card-panelNextTime__title {
    font-size: 0.8rem;
    text-align: center;
}

.rally-card-panelNextTime__time {
    margin-bottom: 3.65rem;
    margin-top: 1rem;
    padding: 0.3125rem; /* 5px */
}
