.iconInRedCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1875rem; /* 35px */
    height: 2.1875rem; /* 35px */
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    border: 0.125rem solid #000; /* 2px */
}

.rally-card-panelDetails {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
    padding: 0.3125rem; /* 5px */
    width: 100%;
    justify-content: flex-end;
}

.rally-card-panelDetails__name {
    font-size: 0.85rem;
    font-weight: 700;
    color: #D84315;
}

.rally-card-panelDetails__finish,
.rally-card-panelDetails__times,
.rally-card-panelDetails__results {
    display: flex;
    flex-direction: row;
    gap: 0.3125rem; /* 5px */
    align-items: flex-end;
    justify-content: flex-end;
}

.rally-card-panelDetails__times > div:last-child {
    margin-left: 2.625rem; /* 42px */
}

.rally-card-panelDetails__times__icon {
    margin-bottom: 0.4375rem; /* 7px */
}
.rally-card-panelDetails__times__icon svg {
    width: 1.3em;
    height: 1.3em;
}

.rally-card-panelDetails__times__arrow {
    margin: 0.75rem -0.5rem; /* 12px -8px */
    width: 1.5em;
    height: 1.5em;
}

.rally-card-panelDetails__finish__icon {
    margin-right: 0.3125rem; /* 5px */
    margin-left: 7.4375rem; /* 119px */
    margin-bottom: 0.4375rem; /* 7px */
}
.rally-card-panelDetails__finish__icon svg {
    width: 1.3em;
    height: 1.3em;
}

.rally-card-panelDetails__results__icon {
    margin-right: 0.3125rem; /* 5px */
    margin-left: 7.4375rem; /* 119px */
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
    font-size: 0.6875rem; /* 11px */
    color: #000;
    font-weight: 800;
}
